@model IEnumerable<Converse.Models.Product>

@{
    ViewBag.Title = "Danh sách loại hàng";
    Layout = "~/Areas/Admin/Views/Shared/Admin_layout.cshtml";
}

<h1>
    @ViewBag.Title
</h1>
<style>
    h1 {
        text-align: center;
        padding-block: 30px;
    }

    th {
        white-space: nowrap;
    }

    th, td {
        padding: 10px 20px;
        text-align: center;
    }
</style>
<div>
    <hr />
    <table class="table table-bordered">
        <tr>
            <th>
                Tên sản phẩm
            </th>

            <th>
                Mô tả
            </th>
            <th>
                Ảnh chính
            </th>
            <th>
                Ảnh phụ
            </th>
            <th>
                Đã bán
            </th>
            <th>
                Còn lại
            </th>
            <th>
                Giảm giá
            </th>
            <th>
                Ngày tạo
            </th>
            <th>
                Tên loại hàng
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.ProName
                </td>
                <td>
                    @item.NameDecription
                </td>
                <td>
                    <img src="@Url.Content(item.ProImage)" width="100" height="100" />
                </td>
                <td>
                    <img src="@Url.Content(item.ProImageHover)" width="100" height="100" />
                </td>
                <td>
                    @item.SoldQuantity
                </td>
                <td>
                    @item.RemainQuantity
                </td>
                <td>
                    @string.Format("{0}%", item.DISCOUNT)
                </td>
                <td width="100px">
                    @string.Format("{0:dd-MM-yyyy}", item.CreatedDate)
                </td>
                <td>
                    @item.Category.NameCate
                </td>
            </tr>

        }
    </table>
</div>
<p>
    @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-primary" })
</p>
