@model Converse.Models.User

@{
    ViewBag.Title = "Xóa quản trị viên";
    Layout = "~/Areas/Admin/Views/Shared/Admin_layout.cshtml";
}

<h1>
    @ViewBag.Title
</h1>
<style>
    dt, dd {
        padding: 10px;
    }
</style>

<h3 style="color:red">Bạn muốn xóa chứ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên tài khoản
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt>
            Mật khẩu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            Vai trò
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-danger" /> |
            @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-primary" })
        </div>
    }
</div>
