@model Converse.Models.Customer

@{
    ViewBag.Title = "Xóa khách hàng";
    Layout = "~/Areas/Admin/Views/Shared/Admin_layout.cshtml";
}

<h1>
    @ViewBag.Title
</h1>

<h3>Bạn muốn xóa chứ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mật khẩu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CusPassword)
        </dd>

        <dt>
            Họ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CusSurname)
        </dd>

        <dt>
            Tên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CusName)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CusEmail)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-danger" /> |
            @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-primary" })
        </div>
    }
</div>
